 <br>

 <ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> {{productDetails?.name}}</li>
    <li class="list-group-item"><strong>Description:</strong> {{productDetails?.description}}</li>
    <li class="list-group-item"><strong>Price:</strong> {{productDetails?.price}}</li>
    <li class="list-group-item"><strong>Id:</strong> {{productDetails?.id}}</li>
    <li class="list-group-item"><strong>AnimalCategory:</strong> {{productDetails?.animalCategory}}</li>
</ul>

 <br>
<div>
    <a routerLink="/home"><button type="button" class="btn btn-primary">Back</button></a>
</div>


